extends ../layouts/base
include ../mixins/panel

block title
    title= 'Welcome to Jade Template Engine Tutorial by SiamHTML index.jade'

    +panel('Header1 of panel', 'This is content of. panel')

block content
    h1= 'Jade Template Engine Tutorial by SiamHTML content index.jade'
    if articles
       ul
            each val, index in articles
                li
                    a(href=val.href, target='_blank')= val.title
    else
        p='Not found.'